[submodule "protexted"]
	path = protexted
	url = git@github.com:Chiel92/protexted.git
[submodule "tui/fate"]
	path = tui/fate
	url = git@github.com:Chiel92/fate.git
[submodule "libs/fate"]
	path = libs/fate
	url = https://github.com/Chiel92/fate
